<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/projeto"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-gray-100">
  <div class="flex flex-col min-h-full">
    <div class="w-full max-w-md mx-auto bg-white rounded-lg shadow-lg p-6 animate__animated animate__fadeIn">
      <div class="text-center mb-6">
        <h2 class="text-2xl font-bold">{{ projeto.titulo }}</h2>
        <p class="text-gray-600">{{ projeto.nome_status }}</p>
      </div>
      <ion-list lines="none">
        <ion-item class="mb-2">
          <ion-label>
            <h3 class="text-sm font-semibold text-gray-700">Descrição</h3>
            <p>{{ projeto.descricao || 'Não informado' }}</p>
          </ion-label>
        </ion-item>
        <ion-item class="mb-2">
          <ion-label>
            <h3 class="text-sm font-semibold text-gray-700">Endereço</h3>
            <p>{{ projeto.cidade || 'Não informado' }}, {{ projeto.estado || 'Não informado' }}</p>
            <p>{{ projeto.cep || 'Não informado' }} {{ projeto.lote ? 'Lote ' + projeto.lote : '' }}</p>
          </ion-label>
        </ion-item>
        <ion-item class="mb-2">
          <ion-label>
            <h3 class="text-sm font-semibold text-gray-700">Habilidades Requeridas</h3>
            <div class="flex flex-wrap">
              <span *ngFor="let habilidade of projeto.nome_habilidades" class="bg-primary text-black text-xs px-2 py-1 rounded-full mr-2 mb-2">
                {{ habilidade }}
              </span>
              <span *ngIf="!projeto.nome_habilidades.length" class="text-gray-600">Nenhuma habilidade</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item class="mb-2">
          <ion-label>
            <h3 class="text-sm font-semibold text-gray-700">Data de Criação</h3>
            <p>{{ projeto.data_criacao | date:'short' }}</p>
          </ion-label>
        </ion-item>
        <span>
          {{ projeto.cliente }} {{ usuario.freelancer_id }}
        </span>
      </ion-list>
      <div class="flex justify-end mt-6" *ngIf="projeto.cliente === usuario.freelancer_id">
        <ion-button fill="outline" color="primary" (click)="navegarParaEditar(projeto.id)" class="mr-2">
          <ion-icon name="create" slot="start"></ion-icon>
          Editar
        </ion-button>
        <ion-button fill="outline" color="danger" (click)="excluirProjeto(projeto.id)">
          <ion-icon name="trash" slot="start"></ion-icon>
          Excluir
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>